<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pack Producer</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/login.js" type="module"></script>
    <meta name="theme-color" content="#cc0000">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="nav-centered">
            <a href="/">Pack Producer</a>
          </div>
      
          <a href="/signup">Sign Up</a>
      
          <div class="nav-right">
            <a href="/login">Login</a>
          </div>
      </nav>

    <main>
        <div class="login-information">
            <h2>Login</h2>
            <div class="input">
                <p>Username: </p>
                <input id="username-input">
            </div>
            <div class="input">
                <p>Password: </p>
                <input type="password" id="password-input">
            </div>
            <button id="login-button">Login</button>
            <a class="link" href="/signup">Don't have an account? Sign up here.</a>
            <a class="link" href="/welcome">What is Pack Producer? How do I navigate Pack Producer? Learn more here.</a>
            <div id="error-container">
            </div>
        </div>  
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>