<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/welcome.css">
  <meta name="theme-color" content="#cc0000">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Welcome - Pack Producer</title>
</head>
<body>
  <nav>
    <div class="nav-centered">
      <a href="/">Pack Producer</a>
    </div>

    <a href="/signup">Sign Up</a>

    <div class="nav-right">
      <a href="/login">Login</a>
    </div>
  </nav>

  <main>
    <div>
      <h3>What is Pack Producer?</h3>
      <p>
        Pack Producer solves the issue of wanting to go to some sort of event but not having anyone to go to the event with you. Say that you have a ticket to the new Marvel movie but your two best friends are busy during the movie showing. This PWA allows for you to go on and either look for someone that is in need of a group for that movie or make their own post in search of others that would like to see the movie with people. This PWA could extend to many think other than just seeing a movie. Different events we can see people using this PWA for would be movies, concerts, cons, festivals, fairs, etc.
      </p>
    </div>
  
    <div>
      <h3>How do I get started?</h3>
  
      <p>
        If you do not yet have a Pack Producer account, first <a class="link" href="/signup">Sign Up</a> for an account to allow for personalized information to be saved for you. After you have an account, the Username and Password selected will be used to log in in the future.
      </p>

      <p>
        Once you have logged in, you will see a Dashboard showing event postings that you have made, as well as recent messages that other users have sent you. You can also navigate to different parts of the site by clicking the tabs in the naviagation bar on the top.
      </p>

      <p>
        Clicking the Explore tab allows you to view posts made by members of our Pack. In order to make your own posts, click on the Post tab and fill out a brief description of the event you are looking for. This description will be added to the Explore tab for all users. You can also message other users through our messaging system by selecting the Message tab in the navigation bar. Want to view or change account information? Simlply select the Account tab on the right side of the navigation bar.
      </p>

      <h3>Using Pack Producer as a Stand-Alone Application</h3>
      <p>
        After you have successfully created an account and logged in to Pack Producer, you will be able to download Pack Producer as a stand-alone application, functioning very closely to native applications as a PWA (Progressive Web Application). See <a class="link" href="https://www.cdc.gov/niosh/mining/content/hearingloss/installPWA.html">here</a> for more details on installable PWAs to install Pack Producer now!
      </p>

      <h3>Offline Functionality</h3>
      <p>
        Pack Producer will automatically cache pages that you visit so that they will be available to view offline. For example, if you want to check the time of an event but do not have internet connectivity, you can still do this. However, because you are offline, posting and sending messages will be disabled.
      </p>
    </div>
  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>