header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard-pane {
    margin: 3vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 72vh;
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-feed {
    overflow: scroll;
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
}

/* For Chrome, Safari and Opera */
#posts-feed::-webkit-scrollbar {
  display: none;
}

.post {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 5%;
}

.post:hover {
  box-shadow: 0 4px 8px 0 #cc000082;
}

.post-link {
  color: #CC0000;
}

.post-link:hover {
  color: #ff0000;
}

#messages-feed {
  overflow: scroll;
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
  width: 90%;
}

/* For Chrome, Safari and Opera */
#messages-feed::-webkit-scrollbar {
  display: none;
}

.message {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  margin: 20px 0px;
  background-color: rgb(230, 230, 230);
  text-decoration: none;
  color: black;
}

.message:hover {
  color: #CC0000;
}

.no-info-alert {
  padding-top: 22vh;
  text-align: center;
}

.sent {
  background-color: rgb(254, 209, 209);
}

.recieved {
  background-color: rgb(230, 230, 230);
}

.message img {
  height: 30px;
  border-radius: 30px;
  margin-right: 7px;
  border: 1px solid black;
}

.account-name {
  margin-right: 20px;
}

@media only screen and (max-device-width : 600px) {
  #dashboard {
    flex-direction: column;
  }

  .dashboard-pane {
    width: 85vw;
  }
}